n8n-JSON/GoogleSheets-to-Gmail.json
{
  "name": "Google Sheets to Gmail - Equipment",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "การเบิกอุปกรณ์ (การตอบกลับ)"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "การตอบแบบฟอร์ม 1"
        },
        "event": "anyUpdate",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "b1000001-aaaa-4444-bbbb-000000000001",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SUFrUpNkg1p78Flu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  const name = data['ชื่อ-สกุล'] || 'ไม่ระบุ';\n  const dept = data['แผนก'] || 'ไม่ระบุ';\n  const equipment = data['รายชื่ออุปกรณ์'] || 'ไม่ระบุ';\n  const qty = data['จำนวนที่เบิก'] || '0';\n  const date = data['ประทับเวลา'] || new Date().toISOString();\n  \n  const subject = `แจ้งเตือน: การเบิกอุปกรณ์ - ${name}`;\n  \n  const message = `<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;\">`\n    + `<div style=\"background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 30px; border-radius: 12px 12px 0 0;\">`\n    + `<h2 style=\"color: white; margin: 0;\">📋 แจ้งเตือนการเบิกอุปกรณ์</h2>`\n    + `</div>`\n    + `<div style=\"background: #ffffff; padding: 30px; border: 1px solid #e0e0e0; border-radius: 0 0 12px 12px;\">`\n    + `<table style=\"width: 100%; border-collapse: collapse;\">`\n    + `<tr><td style=\"padding: 12px; border-bottom: 1px solid #f0f0f0; color: #666; width: 40%;\">👤 ผู้ขอเบิก</td><td style=\"padding: 12px; border-bottom: 1px solid #f0f0f0; font-weight: bold;\">${name}</td></tr>`\n    + `<tr><td style=\"padding: 12px; border-bottom: 1px solid #f0f0f0; color: #666;\">🏢 แผนก</td><td style=\"padding: 12px; border-bottom: 1px solid #f0f0f0; font-weight: bold;\">${dept}</td></tr>`\n    + `<tr><td style=\"padding: 12px; border-bottom: 1px solid #f0f0f0; color: #666;\">🔧 อุปกรณ์</td><td style=\"padding: 12px; border-bottom: 1px solid #f0f0f0; font-weight: bold;\">${equipment}</td></tr>`\n    + `<tr><td style=\"padding: 12px; border-bottom: 1px solid #f0f0f0; color: #666;\">📦 จำนวน</td><td style=\"padding: 12px; border-bottom: 1px solid #f0f0f0; font-weight: bold;\">${qty}</td></tr>`\n    + `<tr><td style=\"padding: 12px; color: #666;\">📅 วันที่เบิก</td><td style=\"padding: 12px; font-weight: bold;\">${date}</td></tr>`\n    + `</table>`\n    + `<hr style=\"border: none; border-top: 1px solid #f0f0f0; margin: 20px 0;\">`\n    + `<p style=\"color: #999; font-size: 12px; text-align: center;\">ระบบแจ้งเตือนอัตโนมัติจาก n8n - Project 67708153</p>`\n    + `</div></div>`;\n  \n  results.push({\n    json: {\n      subject: subject,\n      message: message,\n      name: name,\n      dept: dept,\n      equipment: equipment,\n      qty: qty,\n      date: date\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ],
      "id": "b1000001-aaaa-4444-bbbb-000000000002",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        520,
        0
      ],
      "id": "b1000001-aaaa-4444-bbbb-000000000003",
      "name": "Send a message",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "11111111-1111-1111-1111-111111111111",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
